footer {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 15%;
    background-color: rgb(9, 9, 56);
    color: white;
    /* display: none; */
    z-index: 1;
}

footer .detail-footer {
    position: relative;
    width: 25%;
    height: auto;
    top: 50%;
    left: 5%;
}

footer .detail-footer .span-footer {
    font-size: 20px;
}