main {
    position: relative;
    background-color: rgb(173, 181, 187);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main .container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: tomato;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main .container img {
    position: absolute;
    width: 100%;
    height: 100%;
}

main .container .container-login {
    position: relative;
    width: 40%;
    height: 100%;
    background-color: rgb(11, 11, 31);
    /* background-color: black; */
    color: white;
    overflow: hidden;
    /* display: none; */
}

main .container .container-login .login-body {
    position: relative;
    width: 50%;
    height: auto;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    /* background-color: tomato; */
    padding: 20px;
    box-sizing: border-box;
}

main .container .container-login .login-body h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

main .container .container-login .login-body label {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 5px;
}

main .container .container-login .login-body input[type=text],
main .container .container-login .login-body input[type=password] {
    width: 100%;
    height: 30px;
    outline: none;
    /* margin-bottom: 20px; */
    border-radius: 5px;
}

main .container .container-login .login-body button {
    width: 102%;
    height: 40px;
    outline: none;
    background-color: rgba(150, 150, 199, 0.733);
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

main .container .container-login .login-body input[type=checkbox] {
    margin-bottom: 20px;
}

main .container .container-login .login-body a {
    text-decoration: none;
    float: right;
    color: rgba(150, 150, 199, 0.733);
}

main .container .container-login .login-body select {
    width: 102%;
    height: 30px;
    outline: none;
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 10px;
}

.invalid-feedback {
    color: red;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    main .container .container-login {
        width: 45%;
    }

    main .container .container-login .login-body {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-55%);
    }
}