header {
    position: relative;
    width: 100%;
    height: 10%;
    background-color: rgb(9, 9, 56);
    z-index: 10;
    /* display: none; */
}

header .header-container {
    position: relative;
    width: 95%;
    height: 100%;
    margin: auto;
    padding: 0;
    /* background-color: rgb(194, 30, 30); */
}

header .header-container .header-container-field {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

header .header-container .header-container-field.left {
    width: 15%;
    height: 100%;
    /* background-color: chartreuse; */
    float: left;
}

header .header-container .header-container-field.left .header-logo {
    width: 100%;
    height: 100%;
    /* background-color: rgb(9, 9, 56); */
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

header .header-container .header-container-field.left .header-logo img {
    position: relative;
    width: auto;
    height: auto;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
}

header .header-container .header-container-field.right {
    width: 85%;
    height: 100%;
    /* background-color: cornflowerblue; */
    float: right;
}

header .header-container .header-container-field.right .header-menu {
    position: relative;
    width: 100%;
    height: 100%;
}

header .header-container .header-container-field.right .header-menu ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: tomato; */
}

header .header-container .header-container-field.right .header-menu ul li {
    position: relative;
    display: inline-block;
    padding: 25px 5px;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

header .header-container .header-container-field.right .header-menu ul li .profile-picture {
    width: 65px;
    height: 65px;
    background-color: yellow;
    border-radius: 50%;
    position: relative;
    bottom: 20px;
}

header .header-container .header-container-field.right .header-menu ul li .profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

header .header-container .header-container-field.right .header-menu ul li span:hover {
    color: rgb(189, 159, 159);
}

header .header-container .header-container-field.right .header-menu ul li a:hover {
    color: rgb(189, 159, 159);
}

.dropdown-menu {
    position: absolute;
    width: 170px;
    right: 0px;
    top: calc(100% + .25rem);
    background-color: rgb(255, 255, 255);
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    display: none;
}

.show {
    display: block;
}

header .header-container .header-container-field.right .header-menu ul li .dropdown-menu a {
    color: #333;
}

header .header-container .header-container-field.right .header-menu ul li .dropdown-menu button {
    border: none;
    background-color: white;
    color: #333;
    font-size: 15px;
}

header .header-container .header-container-field.right .header-menu ul li .dropdown-menu button:hover {
    color: rgb(189, 159, 159);
}

header .header-container .header-container-field.right .header-menu ul li .dropdown-menu a:hover {
    color: rgb(189, 159, 159);
}

header .header-container .header-container-field.right .header-menu ul .coba {
    float: right;
    margin-right: 20px;
}

header .header-container .header-container-field.right .header-menu ul li .search-box {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    box-sizing: border-box;
    width: auto;
    height: auto;
    bottom: 10px;
    border-radius: 3px;
}

header .header-container .header-container-field.right .header-menu ul li .search-box .btn-search {
    font-size: 20px;
    height: 34px;
    width: auto;
    border: none;
}

header .header-container .header-container-field.right .header-menu ul li .search-box input[type=text] {
    position: relative;
    width: auto;
    height: 30px;
    margin-top: 0px;
    font-size: 20px;
    border: none;
    outline: none;
}

header .header-container .header-container-field.right .header-menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}



@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    header .header-container .header-container-field.right .header-menu ul li {
        padding: 12px 5px;
    }
    
    header .header-container .header-container-field.left .header-logo img {
        width: 100%;
        height: 100%;
        padding: 0;
    }
       
}

