/* GENERAL STYLE */
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(173, 181, 187);
    scroll-behavior: smooth;
}

.mysection .ruler {
    height: 0px;
}

.center {
    text-align: center;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
}

/* SECTION STYLE */

main .mysection {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main .mysection:nth-child(2) {
    height: auto;
}

main .mysection:nth-child(3) {
    max-height: 75%;
}

main .mysection:nth-child(4) {
    max-height: 75%;
}

main .mysection:nth-child(5) {
    max-height: 100%;
}



main .mysection .mysection-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    /* background-color: blueviolet; */
}

main .mysection .mysection-container .sp-text {
    position: relative;
    left: 1%;
}

main .mysection .mysection-container .container-space {
    /* background-color: chartreuse; */
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

main .mysection .mysection-container .container-space .container-space-content {
    position: relative;
    /* background-color: rgb(199, 184, 174); */
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0;
    display: inline-block;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail {
    position: relative;
    background-color: white;
    width: 23%;
    height: auto;
    margin: 10px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    border-radius: 2%;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail h1, h2 {
    text-align: left;
    /* cursor: pointer; */
    padding: 2px;
    margin: 5px 0px;
    box-sizing: border-box;
    font-weight: 100;
    font-size: 20px;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail h1 {
    font-weight: bold;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail img {
    border-radius: 2%;
    width: 100%;
    height: 200px;
    cursor: pointer;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail .tools {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail .tools.left {
    width: 40%;
    margin: auto;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail .tools.left a {
    text-decoration: none;
    color: black;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail .tools.left button {
    width: 100%;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail .tools.right {
    width: 40%;
    margin: auto;
}

main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail .tools.right button {
    width: 100px;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail h1, h2 {
        margin: 5px 4px;
    }
    
    main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail {
        width: 23%;
        margin-right: 0;
        margin-bottom: 20px;
        padding: 2px;
    }

    main .mysection .mysection-container .container-space .container-space-content .container-space-content-detail img {
        height: 180px;
    }
}


/* MANAGE GAME */

main .mysection .mysection-container .filter-box {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px;
    box-sizing: border-box;
    /* background-color: tomato; */
    overflow: hidden;
}

main .mysection .mysection-container .filter-box .filter-box-field {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    /* background-color: blue; */
}

main .mysection .mysection-container .filter-box .filter-box-field h2 {
    margin-bottom: 10px;
}

main .mysection .mysection-container .filter-box .filter-box-field .search-box {
    position: relative;
    width: 40%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 10px;
}

main .mysection .mysection-container .filter-box .filter-box-field .search-box i {
    position: relative;
    width: auto;
    height: auto;
}

main .mysection .mysection-container .filter-box .filter-box-field .search-box input[type=text] {
    width: 90%;
    height: 25px;
    outline: none;
    border: none;
}

main .mysection .mysection-container .filter-box .filter-box-field form {
    /* background-color: tomato; */
    position: relative;
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

main .mysection .mysection-container .filter-box .filter-box-field form .filter-checkbox {
    width: 18%;
    height: 100%;
    /* background-color: rgb(124, 24, 24); */
    padding: 10px 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    display: inline-block;
}

main .mysection .mysection-container .create-new-game {
    position: fixed;
    right: 0.5%;
    bottom: 2%;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    font-size: 45px;
    padding: 9px;
    box-sizing: border-box;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);;
    z-index: 10;
}

main .mysection .mysection-container .create-new-game i {
    color: rgb(0, 0, 0);
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    main .mysection .mysection-container .filter-box .filter-box-field .search-box {
        width: 50%;
    }

    main .mysection .mysection-container .filter-box .filter-box-field form {
        width: 45%;
    }
}


/* CREATE GAME */
main .mysection .mysection-container .form-create-game {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .mysection-container .form-create-game .main-form-create-game {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .text-danger {
    color: red;
    margin: 0;
    padding: 0;
}

main .mysection .mysection-container .form-create-game .main-form-create-game label {
    font-size: 18px;
    font-weight: 600;
}

main .mysection .mysection-container .form-create-game .main-form-create-game input[type=text] {
    width: 99%;
    height: 25px;
    margin-bottom: 15px;
    border-radius: 5px;
    outline: none;
}

main .mysection .mysection-container .form-create-game .main-form-create-game textarea {
    width: 99%;
    height: auto;
    border-radius: 5px;
    outline: none;
}

main .mysection .mysection-container .form-create-game .main-form-create-game p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .menu-drop {
    width: 99%;
    height: 25px;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .extra-zone {
    position: relative;
    width: 99%;
    height: auto;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .extra-zone .drop-zone i {
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(112, 105, 105);
}

main .mysection .mysection-container .form-create-game .main-form-create-game .extra-zone .drop-zone {
    max-width: 280px;
    height: 180px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 0px 0px;
    box-sizing: border-box;
    margin: auto;
}

.drop-zone--over {
    border-style: solid;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .extra-zone .drop-zone .drop-zone__input {
    display: none;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .extra-zone .drop-zone .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: contain;
    position: relative;
    margin: auto;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .extra-zone .drop-zone .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .action-execute {
    position: absolute;
    right: 2%;
    height: 100%;
}

main .mysection .mysection-container .form-create-game .main-form-create-game .action-execute input[type=submit] {
    width: 100px;
    height: 35px;
    margin-bottom: 10px;
}


/* UTILITY PAGE */
main .mysection .mysection-container .util-container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

main .mysection .mysection-container .util-container .util-value {
    text-align: center;
}


/* PROFILE */

main .mysection .profile-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

main .mysection .profile-container .profile-field {
    position: relative;
    width: 60%;
    height: 90%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-flow: wrap;
    margin: auto;
    margin-top: 20px;
}

main .mysection .profile-container .profile-field .profile-zone {
    position: relative;
    height: 100%;
    color: #333;
}

main .mysection .profile-container .profile-field .profile-zone.left {
    position: relative;
    width: 25%;
    height: auto;
    display: block;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px grey;
}

main .mysection .profile-container .profile-field .profile-zone.left ul {
    list-style: none;
}

main .mysection .profile-container .profile-field .profile-zone.left ul li {
    margin-bottom: 10px;
}

main .mysection .profile-container .profile-field .profile-zone.left ul li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: -1px;
}

main .mysection .profile-container .profile-field .profile-zone.left ul li a:hover {
    color: rgb(238, 94, 94);
}

main .mysection .profile-container .profile-field .profile-zone.left ul li a.show {
    color: rgb(238, 94, 94);
}

main .mysection .profile-container .profile-field .profile-zone.right {
    position: relative;
    width: calc(100% - 25%);
    height: 100%;
    z-index: 1;
    float: right;
    padding: 20px;
    box-sizing: border-box;
}

main .mysection .profile-container .profile-field .profile-zone.right p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
}

main .mysection .profile-container .profile-field .profile-zone.right label {
    font-weight: bold;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-name {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-name.left {
    width: 60%;
    padding: 0px 0px;
    box-sizing: border-box;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-name.left input[type=text] {
    width: 95%;
    outline: none;
    height: 30px;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-name.right {
    width: auto;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-name.right input[type=text] {
    width: 60%;
    outline: none;
    height: 30px;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-fullname {
    width: 100%;
    margin-bottom: 20px;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-fullname input[type=text] {
    width: 75%;
    outline: none;
    height: 30px;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-password {
    width: 100%;
    margin-bottom: 20px;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-password input[type=password] {
    width: 100%;
    height: 30px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-password p {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 12px;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-picture {
    /* float: right; */
    position: absolute;
    right: 15px;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    background-color: grey;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-picture .drop-zone {
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-picture .drop-zone .drop-zone__prompt {
    text-align: center;
    position: relative;
    top: 32%;
    font-size: 15px;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-picture .drop-zone .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background-color: #cccccc;
    background-size: contain;
    position: relative;
    margin: auto;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-picture input[type=file] {
    display: none;
}

main .mysection .profile-container .profile-field .profile-zone.right .profile-picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* TRANSACTION HISTORY */

main .mysection .profile-container .profile-field .profile-zone.right .history-container {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

main .mysection .profile-container .profile-field .profile-zone.right .transaction-id {
    margin-top: 20px;
    padding: 0;
}

main .mysection .profile-container .profile-field .profile-zone.right .history-container .transaction-item {
    position: relative;
    height: 100%;
    display: inline-block;
    text-align: justify;
}

main .mysection .profile-container .profile-field .profile-zone.right .history-container .transaction-item.A {
    width: 325px;
    height: 175px;
}

main .mysection .profile-container .profile-field .profile-zone.right .history-container .transaction-item.A img {
    width: 100%;
    height: 100%;
}

main .mysection .profile-container .profile-field .profile-zone.right .history-container .transaction-total-price {
    margin-top: 5px;
}

/* ADD FRIEND */

main .mysection .profile-container .profile-field .profile-zone.right .add-friend .add-friend-box {
    position: relative;
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

main .mysection .profile-container .profile-field .profile-zone.right .add-friend .add-friend-box input[type=text] {
    width: 50%;
    height: 33px;
    outline: none;
}

main .mysection .profile-container .profile-field .profile-zone.right .add-friend .add-friend-box button {
    height: 40px;
    padding: 0px 10px;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list {
    position: relative;
    margin-bottom: 25px;
    /* background-color: yellow; */
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A {
    position: relative;
    width: 30%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5px 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 1px grey;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A .friend-info {
    width: 100%;
    height: 100%;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A .friend-info .friend-info.left {
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A .friend-info .friend-info.left p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A .friend-info .friend-info.left p .friend-lvl {
    background-color: rgb(168, 165, 166);
    border-radius: 3px;
    padding: 3px 10px;
    box-sizing: border-box;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A .friend-info .friend-info.right {
    position: relative;
    width: 100%;
    height: 180px;
    padding: 5px;
    box-sizing: border-box;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A .friend-info .friend-info.right img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A .friend-action {
    position: relative;
    width: 90%;
    height: 20%;
    bottom: 20%;
    padding: 5px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.A .friend-action button {
    width: 100px;
    height: 30px;
    margin: 2px;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.B {
    position: relative;
    width: 32%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 1px grey;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.B .friend-info {
    /* background-color: red; */
    margin-bottom: 10px;
    padding: 0;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.B .friend-info p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.B .friend-info p .friend-lvl {
    background-color: rgb(168, 165, 166);
    border-radius: 3px;
    padding: 3px 10px;
    box-sizing: border-box;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.B .friend-info .friend-img {
    background-color: royalblue;
    width: 25%;
    height: 85%;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 5px;
}

main .mysection .profile-container .profile-field .profile-zone.right .friend-list .friend-list-zone.B .friend-info .friend-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.alert.alert-success {
    position: absolute;
    width: 30%;
    height: auto;
    font-size: 30px;
    z-index: 5;
    text-align: center;
    background-color: rgb(9, 9, 56);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    color: white;
    display: block;
    border-radius: 5px;
}

.alert.alert-danger {
    position: absolute;
    width: 30%;
    height: auto;
    font-size: 30px;
    z-index: 5;
    text-align: center;
    background-color: rgb(9, 9, 56);
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    color: white;
    display: block;
    border-radius: 5px;
}