main {
    position: relative;
    background-color: rgb(173, 181, 187);
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    main {
        position: relative;
        background-color: rgb(173, 181, 187);
        height: 100%;
        width: 100%;
    }
}

main .mysection {
    height: 100%;
    width: 100%;
    position: relative;
}

main .mysection .util-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
}

main .mysection .util-container .util-container-conten {
    /* background-color: blueviolet; */
    position: relative;
    width: 100%;
    height: 75%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

main .mysection .util-container .util-container-conten .util-container-conten-imgholder {
    position: relative;
    width: 20%;
    height: 25%;
    background-color: yellowgreen;
    margin: auto;
    bottom: 15%;
}

main .mysection .util-container .util-container-conten .util-container-conten-imgholder img {
    width: 100%;
    height: 100%;
}

main .mysection .util-container .util-container-conten .util-container-content-warning {
    position: relative;
    width: 35%;
    height: auto;
    /* background-color: blueviolet; */
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .util-container .util-container-conten .util-container-content-warning .warn {
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 600;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate {
    position: relative;
    width: 35%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 3px #888888;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .bdate {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate.A {
    width: auto;
    text-align: left;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate.A select {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    outline: none;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate.B {
    width: auto;
    text-align: left;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate.B select {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    outline: none;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate.C {
    width: auto;
    text-align: left;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate.C select {
    width: 80px;
    height: 25px;
    border-radius: 5px;
    outline: none;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate .btn-confirm {
    /* background-color: blue; */
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate .btn-confirm button {
    width: auto;
    height: 50px;
    margin: 1px;
    padding: 15px 25px;
    position: relative;
    top: 125px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate .btn-confirm .like-button {
    width: auto;
    height: 50px;
    margin: 1px;
    padding: 5px 20px;
    position: relative;
    top: 131px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid black;
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate .btn-confirm .like-button {
    width: auto;
    height: 50px;
    margin: 1px;
    padding: 15px 20px;
    position: relative;
    top: 126px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid black;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate .btn-confirm .like-button {
        width: auto;
        height: 50px;
        margin: 1px;
        padding: 5px 20px;
        position: relative;
        top: 131px;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        border: 1px solid black;
    }
}

main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate .btn-confirm .like-button a {
    text-decoration: none;
    color: #333;
}

@media only screen and (min-width: 1030px) and (max-width: 1366px) {
    main .mysection .util-container .util-container-conten {
        height: 75%;
    }
    
    main .mysection .util-container .util-container-conten .util-container-content-warning {
        width: 50%;
        padding: 5px;
    }
    
    main .mysection .util-container .util-container-conten .util-container-content-birthdate .select-bdate .btn-confirm button {
        width: auto;
        height: auto;
        padding: 5px 20px;
        top: 130px;
    }
}

/* DETAIL GAMES */

main .mysection .detail-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

main .mysection .detail-container .detail-holder {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}

main .mysection .detail-container .detail-holder.left {
    position: relative;
    width: 65%;
    height: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .detail-container .detail-holder.right {
    position: relative;
    width: calc(100% - 65%);
    height: 100%;
    float: right;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .detail-container .detail-holder.left img {
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

main .mysection .detail-container .detail-holder.right .image-holder {
    position: relative;
    width: 100%;
    height: auto;
}

main .mysection .detail-container .detail-holder.right .image-holder img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 5px;
}

main .mysection .detail-container .detail-holder.right .detail-info-game {
    position: relative;
    width: 100%;
    height: 100%;
}

main .mysection .detail-container .detail-holder.right .detail-info-game .detail-game-title {
    width: auto;
    height: auto;
    margin-bottom: 2px;
}

main .mysection .detail-container .detail-holder.right .detail-info-game .detail-game-title .span-games-title {
    color: #333;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: -1px;
}

main .mysection .detail-container .detail-holder.right .detail-game-short-desc {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: justify;
    margin-bottom: 10px;
}

main .mysection .detail-container .detail-holder.right .detail-game-short-desc .span-short-desc {
    letter-spacing: 0;
    color: #333;
}

main .mysection .detail-container .detail-holder.right .detail-game-dev-info {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
}

main .mysection .detail-container .detail-holder.right .detail-game-dev-info .span-dev-info {
    font-weight: bold;
    margin-bottom: 2px;
    color: #333;
}

main .mysection .detail-container .detail-holder.right .detail-game-dev-info .span-dev-info label {
    font-weight: 100;
}

main .mysection .detail-container .detail-long-desc {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    color: #333;
}

main .mysection .detail-container .buy-stuff {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 10px 15px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    left: 0.5%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

main .mysection .detail-container .buy-stuff .buy-stuff-text {
    font-size: 25px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #333;
    width: 50%;
    height: auto;
    float: left;
}

main .mysection .detail-container .buy-stuff .buy-stuff-btn {
    font-size: 25px;
    width: 50%;
    height: auto;
    float: right;
    text-align: right;
}

main .mysection .detail-container .buy-stuff .buy-stuff-btn .all-stuff {
    background-color: rgb(52, 50, 63);
    width: auto;
    float: right;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

main .mysection .detail-container .buy-stuff .buy-stuff-btn .all-stuff .span-price-text {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

main .mysection .detail-container .buy-stuff .buy-stuff-btn .all-stuff .span-oncart {
    background-color: blanchedalmond;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;
    cursor: pointer;
}

main .mysection .detail-container .buy-stuff .buy-stuff-btn .all-stuff .span-oncart a {
    text-decoration: none;
    color: #333;
}

main .mysection .detail-container .buy-stuff .buy-stuff-btn .all-stuff .btn-buy-stuff {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -1px;
    background-color: rgb(52, 50, 63);
    color: white;
    border: none;
    border-radius: 5px;
}

main .mysection .detail-container .buy-stuff .buy-stuff-btn .all-stuff .btn-buy-stuff:hover {
    background-color: rgba(186, 184, 196, 0.452);
    border-radius: 5px;
}

main .mysection .shopping-cart-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail .shopping-cart-info {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(126, 118, 118);
    padding: 0;
    margin: 0;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail .shopping-cart-info img {
    width: 350px;
    height: 175px;
    float: left;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail .shopping-cart-info-detail {
    position: relative;
    display: inline;
    width: auto;
    height: auto;
    margin-left: 5px;
    top: 50px;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail .shopping-cart-info-detail .shopping-cart-info-name {
    font-size: 25px;
    font-weight: bold;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail .shopping-cart-info-detail .shopping-cart-genre {
    position: relative;
    bottom: 3px;
    background-color: grey;
    text-align: justify;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
    box-sizing: border-box;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail .shopping-cart-info-detail .tag {
    margin-left: 5px;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail .shopping-cart-delete {
    float: right;
    margin: auto;
    font-size: 25px;
    position: relative;
    bottom: 15px;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-detail .shopping-cart-delete button {
    width: 100px;
    height: 40px;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-total {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-total .total-price {
    font-weight: 100;
    margin-right: 5px;
}

main .mysection .shopping-cart-container .shopping-cart-detail-container .shopping-cart-checkout button {
    width: 100px;
    height: 30px;
}

/* TRANSACTION INFORMATION */

main .mysection .transaction-information {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

main .mysection .transaction-information .transaction-information-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: purple; */
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .info-cc {
    margin-bottom: 20px;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form input[type=text] {
    width: 100%;
    height: 30px;
    outline: none;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-date {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-date.A {
    width: 39.5%;
    padding: 10px 0px;
    box-sizing: border-box;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-date.A .date-info {
    width: 99%;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-date.B {
    width: 39.5%;
    padding: 10px;
    box-sizing: border-box;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-date.B .date-info {
    width: 99%;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-date.C {
    width: 20%;
    padding: 0;
    box-sizing: border-box;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-date.C .date-info {
    width: 101%;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-country {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-country.A {
    width: 79%;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-country.A .country-info {
    width: 100%;
    height: 35px;
    outline: none;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-country.B {
    width: 20%;
    padding: 5px;
    box-sizing: border-box;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-information-country.B .country-info {
    width: 105%;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-btn {
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-btn .btn-transaction {
    float: right;
    margin: 5px;
    width: auto;
    height: 35px;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-btn .like-button.cart {
    float: right;
    margin: 5px;
    padding: 5px 5px;
    box-sizing: border-box;
    width: auto;
    height: 35px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #333;
    cursor: pointer;
}

main .mysection .transaction-information .transaction-information-container .transaction-information-form .transaction-btn .like-button.cart a {
    text-decoration: none;
    color: #333;
}